<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gif-Lash - A Full-Bellied Laughter App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../html/css/landing.css">
    <!--===============================================================================================-->	
	
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../html/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->

    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../html/vendor/animate/animate.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../html/vendor/select2/select2.min.css">
    
        
        
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
        </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-12">
                        <p class="title is-1">And the winner is......!</p>
                            <p class="subtitle is-3">THANK YOU FOR PLAYING</p>
                                <a class="button is-info" type="submit" href="../views/waiting.html">
                                    Play Again? 
                                </a> </div>
                                            <table>
                                                <thead>
                                                    <tr class="table100-head">
                                                        <th class="column1">Player</th>
                                                        <th class="column2">No. Votes</th>
                                                        <th class="column3">Current Score</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                        <tr>
                                                            <td class="column1" id="user">Barney</td>
                                                            <td class="column2" id="votes">0</td>
                                                            <td class="column3" id="gamePoints">20</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td class="column1" id="user">Stu</td>
                                                            <td class="column2"id="votes">3</td>
                                                            <td class="column3"id="gamePoints">30</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td class="column1"id="user">Sam</td>
                                                            <td class="column2"id="votes">0</td>
                                                            <td class="column3"id="gamePoints">0</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td class="column1"id="user">Tracey</td>
                                                            <td class="column2"id="votes">0</td>
                                                            <td class="column3"id="gamePoints">10</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td class="column1"id="user">Greg</td>
                                                            <td class="column2"id="votes">3</td>
                                                            <td class="column3"id="gamePoints">30</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td class="column1"id="user">David</td>
                                                            <td class="column2"id="votes">1</td>
                                                            <td class="column3"id="gamePoints">40</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td class="column1"id="user">Rupert</td>
                                                            <td class="column2"id="votes">0</td>
                                                            <td class="column3"id="gamePoints">10</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td class="column1"id="user">Hannah</td>
                                                            <td class="column2"id="votes">1</td>
                                                            <td class="column3"id="gamePoints">10</td>
                                                </tbody>
                                            </table>
                                    
                                </div>
                            </div>
                </div>
            </div>

    </section>
    <script src="../html/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="../html/vendor/bootstrap/js/popper.js"></script>
        <script src="../html/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="../html/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="../html/main.js"></script>
  

</body>

</html>
