



<div class="game-landing-pg">

   <nav class="navbar">
        <a class="navbar-brand" href="#">GIF-LASH</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
        </ul>
   </nav>
    <div id="mainWindow" class="container-fluid">

        <div class="row">

        <div id="gameWindow" class="col-lg-9 col-sm-6 col-xs-6">

        </div>

        <div id="chatWindow" class="col-lg-3 col-sm-6 col-xs-6">

            <div class="message-form">
                <form id="user-input">
                    <div class="col-sm-12">
                        <input id="user-message" type="text" placeholder="Enter your message" />
                    </div>
                </form>
            </div>
           <ul id="messages" class="col-sm-12">
                <li>
                   <div class="user-name"><span class="message-text"></span></div>
                </li>
            </ul>
        </div>
    </div>
  
    </div>

</div>

<footer class="footer">
         <p class="footer-text">© Copyright</p>
</footer>


<script src="socket.io/socket.io.js"></script>
<script src="/scripts.js"></script>
<script src="/searchState.js"></script>
<script src="/votingState.js"></script>