<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gif-Lash - Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <!-- Bootstrap -->
   <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="..html/css/animate.min.css">

    <link rel="stylesheet" type="text/css" href="../html/css/login.css">
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-12">
                        <form class="login-f">
                            <!-- Title -->
                            <div class="title-from">Log In to Play</div>
                            <!-- Username -->
                            <input type="text" placeholder="Username" class="user-l">
                            <!-- Password -->
                            <input type="password" placeholder="password" class="user-l">
                            <!-- Remember -->
                            <div class="remember-line">
                                <input type="checkbox" class="check-f">
                                <span>Remember me ?</span>
                            </div>
                            <!-- Login -->
                            <input type="submit" class="login-btn" value="Sign in">
                        </form>
                        <div class="line-op">
                            <!-- Register -->
                            <div class="button">
                                <span class="fa fa-user-plus form-p"></span>
                                <a class="reset-p" href="register.html">Register</a>
                            </div>
                        </div>
      </section>
     

      

    
    <script async type="text/javascript" src="../js/bulma.js"></script>

</body>

</html>
