<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gif-Lash - Vote</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/vote.css">

</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                           Vote for your favorite
                        </h1>
                        <h1 class="title">
                            Display a gif that best describes how your day has been....
                        </h1>
                    </div>
                </div>
            </div>
           <!-- <div class="container">
                <div class="notification">
                  This container is <strong>centered</strong> on desktop.
                </div>
              </div>-->
   <div class="container">
              <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="card is-child box has-text-centered">
                        <figure class="image">
                            <img src="https://media2.giphy.com/media/1aIDN81XDJuDK/200.gif?cid=ecf05e4768c920df5d2447064aa11db949e8852f3e059b48&rid=200.gif" onclick="">
                        </figure>
                        <button class="button is-outlined is-success is-fullwidth">Vote</button>
                    </article>
                </div>
              
                
                
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <figure class="image">
                            <img src="https://media3.giphy.com/media/3o7TKRwpns23QMNNiE/200w.gif?cid=ecf05e4768c920df5d2447064aa11db949e8852f3e059b48&rid=200w.gif?" onclick="">
                        </figure>
                        <button class="button is-outlined is-success is-fullwidth">Vote</button>
                    </article>
                </div>
                
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <figure class="image">
                            <img src="https://media3.giphy.com/media/ef7GqsDYDIKFa/200.gif?cid=ecf05e4768c920df5d2447064aa11db949e8852f3e059b48&rid=200.gif" onclick="">
                        </figure>
                        <button class="button is-outlined is-success is-fullwidth">Vote</button>
                    </article>
                </div>

                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <figure class="image">
                            <img src="https://media3.giphy.com/media/T8Dhl1KPyzRqU/giphy.gif?cid=ecf05e4768c920df5d2447064aa11db949e8852f3e059b48&rid=giphy.gif" onclick="">
                        </figure>
                        <button class="button is-outlined is-success is-fullwidth">Vote</button>
                    </article>
                </div>
            </div>

        <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="card is-child box has-text-centered">
                    <figure class="image">
                        <img src="https://media2.giphy.com/media/1aIDN81XDJuDK/200.gif?cid=ecf05e4768c920df5d2447064aa11db949e8852f3e059b48&rid=200.gif" onclick="">
                    </figure>
                    <button class="button is-outlined is-success is-fullwidth">Vote</button>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <figure class="image">
                        <img src="https://media3.giphy.com/media/3o7TKRwpns23QMNNiE/200w.gif?cid=ecf05e4768c920df5d2447064aa11db949e8852f3e059b48&rid=200w.gif?" onclick="">
                    </figure>
                    <button class="button is-outlined is-success is-fullwidth">Vote</button>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <figure class="image">
                        <img src="https://media3.giphy.com/media/ef7GqsDYDIKFa/200.gif?cid=ecf05e4768c920df5d2447064aa11db949e8852f3e059b48&rid=200.gif" onclick="">
                    </figure>
                    <button class="button is-outlined is-success is-fullwidth">Vote</button>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <figure class="image">
                        <img src="https://media3.giphy.com/media/T8Dhl1KPyzRqU/giphy.gif?cid=ecf05e4768c920df5d2447064aa11db949e8852f3e059b48&rid=giphy.gif" onclick="">
                    </figure>
                    <button class="button is-outlined is-success is-fullwidth">Vote</button>
                </article>
            </div>
        </div>
        </div>
      </section>

</body>

<!-- scripts -->

<script src="../js/bulma.js"></script>

</body>

</html>
