body, html{
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
 display: flex;
 flex-direction: column;
 background-image: linear-gradient(-90deg, rgb(196, 80, 192), rgb(72, 87, 207));
}
/*--Landing Page--*/
.content{
  flex: 1 0 auto;
}
.welcome-text{
  margin-top: 10px;
   color: white;
   text-align: center;
   background-image: linear-gradient(-90deg, rgb(196, 80, 192), rgba(255, 255, 255, 0.192),rgb(72, 87, 207));
}
#auth-form{
  width: 30%;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.auth-title{
  color: white;
}
/*--Navigation--*/
.navbar-brand{
  font-size: 2rem;
}
.navbar a {
  color: white;
}
.navbar-nav{
  flex-direction: row;
}
.navbar-nav .nav-link{
  display: inline;
  margin-right: 15px;
  padding: 0px 5px 5px 0px;
  font-size: 1rem;
}
.nav-link:hover
{
  border-bottom: 2px solid white;
}
/*--Footer--*/
.footer{
  flex-shrink: 0;
  background-color: rgb(34, 34, 34);
  color: #6c757d !important;
  text-align: center;
}
.footer-text{
 margin: 0;
 padding: 10px;
 font-size: .5rem;
}
/*--Game Page--*/
#gameWindow{
  background-color: red;
}
#chatWindow{
  background-color: blue;
}