html,body {
  font-family: 'Rubik', sans-serif;}
.hero.is-info {
background-color: #52ACFF;
background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 1rem 0;
  line-height: 1.5;
}
.tile  {
	border: none;
  }

.imageContainer {
	width: 250px;
	padding-left: 1rem;
	

  }
.image:hover {
	cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(5, 5, 31, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;

}

.title-from {
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #000;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 15px;

}
.waiting-p {
	text-align: center;
	margin-top: 70px;
}

.title-waiting-t {
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	font-size: 120px;
	margin: 0;
}

.title-waiting p {
	font-family: 'Rubik', sans-serif;
	color: #7e7e7e;
	font-size: 13px;
}

.sec-title {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 50px;
	margin: 0;
}
.seconds {
	font-family: raleway, sans-serif;
	font-weight: 500;
	font-size: 50px;
	margin: 0;
}