
<div id="vote-box">
    <h1 class="announcer-text">Time To Vote!</h1>
    <h2 class="timer">You have <span class="time">0</span> seconds to vote fors a gif...!</h2>
    <div id="gif-container">
        
    </div>
</div>